<section class="p-7 bg-white dark:bg-gray-800 ">
    <lg-title titleText="Sign Up" />
    <form [formGroup]="signUpForm" (ngSubmit)="register()">
        @for (item of inputsSignUpData; track $index) {
        <lg-input [inputData]="item"></lg-input>
        }
        @if(signUpForm.get('confirmPassword')?.hasError('passwordMismatch')){
        <p class="dark:text-white pb-2 text-center text-gray-800">
            Las contraseñas no coinciden
        </p>
        }

        <button type="submit"
            class="bg-blue-600 w-full border border-blue-600 text-white rounded-md p-2 hover:bg-blue-700 hover:border-blue-700 disabled:opacity-50 font-medium cursor-pointer">
            Sign Up
        </button>

        <button class="block w-full p-2 rounded-md dark:text-white  hover:text-white cursor-pointer font-medium mt-3" type="button" (click)="viewFormSignUp()">
            login
        </button>
    </form>
</section>